@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Luis Sanchez</h1>
    <p>Busca mas informacion aqui <a href="https://microsoft.com">encontraras todo relacionado a ASP.NET</a>.</p>
</div>
